.postLinkWrapper {
  display: flex;
  padding: 15px 15px 25px 15px;
  background: white;
  margin-top: 25px;
  width: 800px;
  position: relative;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));

  @media screen and (max-width: 600px) {
    width: 350px;

  }
  &__titleWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    @media screen and (max-width: 600px) {
      margin-bottom: 40px;
    }

  }

  &__title {
    font-size: 20px;
    color: #1890FF;
    margin-right: 13px;
    cursor: pointer;
    text-decoration: none;
    @media screen and (max-width: 600px) {
      font-size: 15px;
    }
  }

  &__likesOnPostImg {
    margin-right: 5px;
    cursor: pointer;
  }

  &__amountLikes {
    font-size: 12px;
  }

  &__tagsList {
    @media screen and (max-width: 600px) {
      display: none;
    }
    li {

      color: rgba(0, 0, 0, 0.8);
      display: inline-block;
      padding: 3px;
      border: 1px solid rgba(0, 0, 0, 0.5);
      border-radius: 2px;
      margin-right: 10px;
    }
  }

  &__overview {
    color: rgba(0, 0, 0, 0.75);
    line-height: 22px;
    font-size: 12px;
    max-width: 680px;
    margin-top: 5px;
  }

  //&__leftContent {
  //  display: flex;
  //  flex-direction: column;
  //  justify-content: space-between;
  //}

  &__rightContent {
    display: flex;
    right: 15px;
    align-items: center;
    position: absolute;
  }

  &__postAuthor {
    display: flex;
    flex-direction: column;
    margin-right: 8px;
    align-items: end;

  }
  &__author {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.85);
    @media screen and (max-width: 600px) {
      font-size: 15px;
    }
  }
  &__date {
    font-size: 12px;
    margin-top: 3px;
    color: rgba(0, 0, 0, 0.5);
  }

  &__authorAvatar {
    width: 46px;
    height: 46px;
    border-radius: 50px;
    @media screen and (max-width: 600px) {
      width: 35px;
      height: 35px
    }
  }
}